/* Dieser Style ist für den Kopfbereich */

h1.myTitle {
	color: rgb(26, 24, 24);
	padding: 0px;
	margin: 0px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: -5px;
	font-style: oblique;
	font-size: 5em;
	
}
h3.myTitle {
	color: rgb(26, 24, 24);
	padding: 0px;
	margin: 0px;
	font-weight: 500;
}

.myTitle :hover {
	background-color: none;
	color: rgb(194, 71, 54, 80);
	text-decoration: none;
}

strong.myTitle {
	color: rgb(194, 71, 54, 80);
}

p.myTitle {
	font-size: large;
	color: rgb(26, 24, 24);
	padding: 5px;
	margin: 0px;
}

.myBarItem {
	font-size: medium;
	color: rgb(26, 24, 24);
	padding: 35px;
	margin: 0px;
}

.titleBand {
	display: flex;
	flex-direction: row;

	height: fit-content;
	background-color: rgb(68, 67, 67);
	background-image: linear-gradient(to right, rgb(93.73, 92.16, 86.27), rgb(226, 217, 217));
}

.titleBand a {
	color: black;
	text-decoration: none;
}

.footer {
	display: flex;
	flex-direction: row;
	
	background-color: rgb(68, 67, 67);
	background-image: linear-gradient(to right, rgb(93.73, 92.16, 86.27), rgb(226, 217, 217));
	bottom: 0;
	position: fixed;
	width: 100%;
	
}

.centerMargin {
	font-size: large;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1%;
	margin-left: 1%;
	background-color: none;
	color: black;
	text-decoration: none;
}

.centerMargin a {
	background-color: none;
	color: black;
	text-decoration: none;
}

.centerMargin a:hover {
	background-color: none;
	color: rgb(194, 71, 54, 76);
	text-decoration: none;
}

/* .TitleBandBox {
	background-color: rgb(68, 67, 67);
} */
