/* Dieser Style ist für den Kopfbereich */

h1.myTitle {
	color: rgb(26, 24, 24);
	padding: 0px;
	margin: 0px;
}
h3.myTitle {
	color: rgb(26, 24, 24);
	padding: 0px;
	margin: 0px;
	font-weight: 500;
}

strong.myTitle {
	color: rgb(216, 22, 48);
}

p.myTitle {
	font-size: large;
	color: rgb(26, 24, 24);
	padding: 5px;
	margin: 0px;
}

.myBarItem {
	font-size: medium;
	color: rgb(26, 24, 24);
	padding: 35px;
	margin: 0px;
}

.titleBand {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr 3fr 2fr 1fr 1fr 1fr;
	justify-items: center;

	height: fit-content;
	background-color: rgb(68, 67, 67);
	background-image: linear-gradient(to right, rgb(107, 107, 107), rgb(145, 114, 114));
}

.centerMargin{
	margin: auto;
}



/* .TitleBandBox {
	background-color: rgb(68, 67, 67);
} */
