.TitleBand {
	display: grid;
	height: 100px;
	background-color: rgb(68, 67, 67);
	grid-template-columns: 1fr 2fr 8fr 1fr 1fr 1fr;
	background-image: linear-gradient(to right, rgb(68, 67, 67), rgb(87, 74, 64));
}

.TitleBandBox {
	background-color: rgb(68, 67, 67);
}

.myTitle {
	font-size: xx-large;
}

h1.myTitle {
	color: rgb(212, 20, 20);
}
strong.myTitle {
	color: rgb(216, 22, 48);
}
p.myTitle {
	font-size: medium;
	color: rgb(26, 24, 24);
}
/*  */
.myProductsArea {
	display: flex;
	flex-direction: row;
	background-color: rgb(255, 255, 255);
	margin: 100px;
	
}

.myProductsGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: rgb(175, 175, 175);
	align-items: center;
	justify-content: center;
	
}

.myProductBox {
	height: 500px;
	width: 300px;
	background-color: white;
	float: center;

	border-radius: 40px 20px 40px 20px;
	padding: 20px 20px;
	margin: 10px;
	box-shadow: 10px -10px 3px rgb(216, 22, 48);
}

h1.myTitle {
	color: rgb(26, 24, 24);
	padding: 0px;
	margin: 0px;
}

strong.myTitle {
	color: rgb(216, 22, 48);
}

p.myTitle {
	font-size: large;
	color: rgb(26, 24, 24);
	padding: 5px;
	margin: 0px;
}

.myBarItem {
	font-size: medium;
	color: rgb(26, 24, 24);
	padding: 35px;
	margin: 0px;
}

p {
	color: lightgrey;
}
b {
	color: red;
	size: large;
}
