
.mainContent{
	background-color: rgb(230, 230, 230);
}

.myProductsArea {
	display: flex;
	flex-direction: row;
	margin: 100px;
}

.myProductsGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: rgb(175, 175, 175);
	align-items: center;
	justify-content: center;
}

.myProductBox {
	height: 450px;
	width: 400px;
	background-color: white;
	float: center;

	border-radius: 40px 20px 40px 20px;
	padding: 20px 20px;
	margin: 10px;
	box-shadow: 10px -10px 3px rgb(216, 22, 48);
}

p {
	color: rgb(88, 88, 88);
}
b {
	color: rgb(216, 22, 48);
	size: large;
}
i.red{
	color: rgb(216, 22, 48);
}