

.myProductsArea {
	display: flex;
	flex-direction: row;
	background-color: rgb(189, 189, 189);
	margin: 100px;
}

.myProductsGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: rgb(175, 175, 175);
	background-color:  rgb(175, 175, 175);
	align-items: center;
	justify-content: center;
}

.myProductBox {
	height: 500px;
	width: 300px;
	background-color: white;
	float: center;

	border-radius: 40px 20px 40px 20px;
	padding: 20px 20px;
	margin: 10px;
	box-shadow: 10px -10px 3px rgb(216, 22, 48);
}

p {
	color: rgb(172, 172, 172);
}
b {
	color: red;
	size: large;
}
